/* 
    Created on : 2018.11.07., 19:54:40
    Author     : sze7vasmar
*/

#content
{
    width: 300px;
    margin: 0 auto;
}

input
{
    margin-top: 0.5em;
}

.error
{
    color: red;
    font-size: 1.2em;
}

